<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="br.com.murilosandiego.fiasaojooadaponte">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">

            <!-- <intent-filter> -->
            <!-- <action android:name="android.intent.action.MAIN" /> -->


            <!-- <category android:name="android.intent.category.LAUNCHER" /> -->
            <!-- </intent-filter> -->
        </activity>
        <activity
            android:name=".GuiaActivity"
            android:label="@string/title_activity_guia"
            android:parentActivityName=".MainActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="br.com.murilosandiego.fiasaojooadaponte.MainActivity" />
        </activity>
        <activity
            android:name=".EcaActivity"
            android:label="@string/title_activity_eca"
            android:parentActivityName=".MainActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="br.com.murilosandiego.fiasaojooadaponte.MainActivity" />
        </activity>
        <activity
            android:name=".LegislacaoActivity"
            android:label="@string/title_activity_legislacao"
            android:parentActivityName=".MainActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="br.com.murilosandiego.fiasaojooadaponte.MainActivity" />
        </activity>
        <activity
            android:name=".ProjetosActivity"
            android:label="@string/title_activity_projetos"
            android:parentActivityName=".MainActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="br.com.murilosandiego.fiasaojooadaponte.MainActivity" />
        </activity>
        <activity
            android:name=".DuvidaActivity"
            android:label="@string/title_activity_duvida"
            android:parentActivityName=".MainActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="br.com.murilosandiego.fiasaojooadaponte.MainActivity" />
        </activity>
        <activity
            android:name=".SimuladorActivity"
            android:label="@string/title_activity_simulador"
            android:parentActivityName=".MainActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="br.com.murilosandiego.fiasaojooadaponte.MainActivity" />
        </activity>
        <activity
            android:name=".SplashScreenActivity"
            android:theme="@style/Theme.Design.NoActionBar"
            >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>